<%- include('../template/head')-%>

<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <%- include('../template/nav')-%>
        <main role="main" class="inner cover">
            <h1 class="cover-heading">The Amazing Stock Brokerage System</h1>
            <% if (body.selectedInvestor) { %>
                <p class="lead">Investor <i><%=body.selectedInvestor %></i> has a new bond transaction!</p>
            <% } %>
            <% if (body.bondtransnum) { %>
                <p class="lead">Bond Transaction <i><%=body.bondtransnum %></i> has been deleted!</p>
            <% } %>

            <% if (body.selectedstockInvestor) { %>
                <p class="lead">Investor <i><%=body.selectedstockInvestor %></i> has a new stock transaction!</p>
            <% } %>
            <% if (body.stocktransnum) { %>
                <p class="lead">Stock Transaction <i><%=body.stocktransnum %></i> has been deleted!</p>
            <% } %>
            
            <p class="lead">
                <a href="/transaction" class="btn btn-lg btn-secondary">Transaction</a>
            </p>
        </main>
        <%- include('../template/footer')-%>
    </div>
</body>
<script>
    window.onload = function() {
        document.getElementById('transaction').classList.add('active');
      };
</script>
</html>
